{% extends 'base.html' %}

{% block title %} SAIL Year Book Portal {% endblock %}

{% block content %}
    {% if logged_in %}
        <div class="container-fluid">
            <h1 class="text-center mt-5">You are already logged in</h1>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <div class="card my-5">
                        <div class="card-body text-center">
                            <h4 class="card-title">Welcome to SAIL Year Book Portal</h4>
                            <h6 class="card-subtitle">Developed by <a href="https://www.facebook.com/codingclubiitg/">Coding Club IITG</a><br>in association with <a href="http://iitg.ac.in/sail/index.html">Student Alumni Interaction Linkage (SAIL)</a></h6>
                        </div>
                        <a class="btn btn-primary" style="border-top-right-radius: 0;border-top-left-radius: 0" href="{% url "social:begin" "azuread-tenant-oauth2" %}?next={{ next }}">Login with Office 365</a>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
    {% endif %}
{% endblock %}