{% extends 'base.html' %}

{% block title %} SAIL Year Book Portal {% endblock %}

{% load static %}

{% block content %}
    {% if logged_in %}
        <div class="container-fluid">
            <h1 class="text-center pt-5">You are already logged in</h1>
        </div>
    {% else %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 px-5">
                    <div class="card">
                        <div class="card-body text-center p-0">
                            <div class="container-fluid">
                            <div class="row">
                                <div class="col-lg-6 px-0">
                                    <img class="card-img img-fluid" style="border-top-right-radius: 0; border-bottom-right-radius: 0;" src="{% static 'img/login_background.jpg' %}">
                                </div>
                                <div class="col-lg-6 d-flex flex-column justify-content-center align-items-center">
                                    <h1 class="card-title">Welcome to <br>SAIL Year Book Portal</h1>
                                    <a class="btn btn-outline-primary" style="font-size: x-large" href="{% url "social:begin" "azuread-tenant-oauth2" %}?next={{ next }}">Login with Office 365</a>
                                </div>
                            </div>
                                </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    {% endif %}
{% endblock %}